127.0.0.1	localhost
127.0.1.1	{{ inventory_hostname }}

10.0.0.1	fw00.demo fw00-int
10.0.0.10	gw10-ext
10.0.0.20	gw20-ext
10.0.0.100	mgmt1.demo
10.0.10.1	gw10.demo gw10-int
10.0.10.11	debian11.demo 
10.0.10.12	debian12.demo
10.0.20.1       gw20.demo gw20-int
10.0.20.11	debian21.demo
10.0.20.12	debian22.demo

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

