<div class="col-xs-6 col-md-3">
	<app-groups></app-groups>
</div>
<div class="col-xs-12 col-md-9">
	<h1>Execute</h1>

	<p>Apply firewall configuration to 
        <select id="limit" name="limit" [(ngModel)]="playLimit">
           <option [value]="'all'">all</option>
           <option *ngFor="let group of inventoryGroups" [value]="group.name">{{group.name}}</option>
        </select>
        </p>
	<p><button type="button" class="btn btn-primary btn-lg" (click)="executePlay()" [disabled]="playRunning">Execute play</button></p>
	<div *ngIf="playLog">
	Execution log:
	<div class="well" [innerHtml]="playLog.log | newline">
	</div>
        </div>
 		
</div>

